body {
	margin: 0px;
	overflow-x: hidden;
	background-color: var(--background-color);
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

@font-face {
    font-family: "sledge";
    src: url("./fonts/sledge.woff") format('woff');
	src: url("./fonts/sledge.otf") format('opentype');
}

@font-face {
    font-family: "lemonmilk";
	src: url("./fonts/lemonmilk.otf") format('opentype');
}

@font-face {
    font-family: "headlinerno45";
	src: url("./fonts/headlinerno45.ttf") format('truetype');
}

:root {
	--background-color: white;
	--foreground-color: black;
}



#fade {
	position: absolute;
	top: 100vh;
	height: 100px;
	width: 100%;
	background-image: linear-gradient(transparent, var(--background-color));
	pointer-events: none;
	z-index: 99;
}

#body {
	height: 500px;
	background-color: white;
	position: relative;
	z-index: 2 !important;
}

#night-body {
	height: 500px;
	background-color: black;
	position: relative;
	z-index: 2 !important;
}

#top-header {
	font-family: sledge;
	margin: 0px;
	font-size: 6em;
	letter-spacing: 0.05em;
	text-align: center;
	padding-top: 25vh;
	background-color: var(--background-color);
	position: relative;
	z-index: 2;
	color: var(--foreground-color);
}

#night-body #top-header {
	color: white;
}

#control {
	position: absolute;
	width: 150px;
	left: calc(50% - 77px);
	top: calc(100vh - 200px);
	z-index: 1 !important;
	height: 60px;
	text-align: center;
	cursor: pointer;
	margin: 0px;
	font-family: headlinerno45;
	border: 4px solid white;
	line-height: 50px;
	font-size: 3em;
	color: white;
	letter-spacing: 0.1em;
	transition: background-color 0.3s, letter-spacing 0.3s, color 0.3s;
	background-color: transparent;
}

#control:hover {
	background-color: white;
	letter-spacing: 0.13em;
	color: black;
}

#artists {
	font-family: headlinerno45;
	font-size: 4em;
	text-align: center;
	padding-top: 200px;
	background-color: var(--background-color);
	color: var(--foreground-color);
}

#artists span {
	letter-spacing: 0.1em;
	margin-left: 30px;
	margin-right: 30px;
	cursor: pointer;
	white-space: nowrap;
	padding-bottom: 5px;
}

#artists span:hover {
	text-decoration: underline;
	padding-bottom: 5px;
}

#lineup {
	background-color: var(--background-color);
	padding-top: 100px;
	color: var(--foreground-color);
	text-align: center;
}

#lineup h2 {
	margin-bottom: 0px;
	text-align: center;
	font-family: sledge;
	font-size: 5em;
	letter-spacing: 0.1em;
}

#lineup div {
	background-color: var(--background-color);
	text-align: center;
	margin-bottom: 20px;
}

#lineup .time {
	font-family: sledge;
	font-size: 4em;
	position: relative;
	top: 12px;
	letter-spacing: 0.1em;
}

#lineup .artist {
	font-family: headlinerno45;
	font-size: 4em;
	padding-left: 20px;
	width: 340px;
	display: inline-block;
	margin-top: 5px;
	text-align: right;
	border-bottom: 2px dotted var(--foreground-color);
	padding-bottom: 0px;
	margin: 0px;
	height: 80px;
}

#lineup .artist span {
	border-bottom: 4px solid var(--foreground-color);
	margin: 0px;
	position: relative;
	top: 0px;
	display: inline-block;
	vertical-align: top;
	height: calc(100% - 1px);
}

#canvas {
	background-color: blue;
}

#livestream {
	height: 100vh;
	width: 100%;
	background-color: black;
}

.empty {
	opacity: 0;
	pointer-events: none;
}

.lineup-line {
	display: inline-block;
	width: 530px;
	margin-left: 8px;
	margin-right: 8px;
}

#summit {
	position: absolute;
	top: 0px;
	width: 100%;
	height: auto;
	left: 0px;
	top: calc(50vh - 28vw);
	animation: fade 2s;
	animation-delay: 6s;
	animation-fill-mode: forwards;
	z-index: 60;
}

#move {
	position: absolute;
	top: calc(100vh - 100px);
	left: 0px;
	width: 100%;
	height: 50px;
	text-align: center;
	animation: fade 2s;
	animation-delay: 6s;
	animation-fill-mode: forwards;
	z-index: 60;
}

#move img {
	height: 50px;
	cursor: pointer;
	transition: height 0.3s;
}

#move img:hover {
	height: 70px;
}

#audioonly {
	position: absolute;
	width: 100%;
	text-align: center;
	top: calc(90vh - 100px);
	z-index: 60;
}

#audioonly a {
	cursor: pointer;
	border: 2px solid white;
	font-family: headlinerno45;
	color: white;
	font-size: 2em;
	padding: 5px 30px;
	padding-bottom: 7px;
	transition: color 0.3s, background-color 0.3s, letter-spacing 0.3s;
	letter-spacing: 0.05em;
	text-decoration: none;
	animation: fade 0.5s;
	animation-delay: 7.5s;
	animation-fill-mode: forwards;
}

#audioonly a:hover {
	color: black;
	background-color: white;
	letter-spacing: 0.08em;
}

#load {
	position: absolute;
	z-index: 59;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 100vh;
	background-color: black;
	animation: fade 2s;
	animation-delay: 8s;
	animation-fill-mode: forwards;
	pointer-events: none;
	cursor: pointer;
}

#fullscreen {
	position: absolute;
	top: calc(100vh - 50px);
	left: calc(100% - 50px);
	z-index: 99;
	color: red;
	width: 35px;
	cursor: pointer;
	height: 35px;
	background-color: rgba(255,255,255,0.2);
	padding: 5px;
	transition: transform 0.3s, opacity 0.2s;
}

#fullscreen:hover {
	transform: rotate(90deg);
}

@keyframes fade {
	0% {opacity: 1}
	90% {pointer-events: auto}
	100% {opacity: 0; pointer-events: none}
}

#lineup-header {
	font-size: 8em;
	margin-top: 200px;
}

@media screen and (max-width: 1850px) {
	.lineup-line {
		display: block;
		margin: 0px;
		width: 100%;
		max-width: 100%;
		margin: 0px;
	}
	.empty {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	#artists span {
		font-size: 0.9em;
		display: block;
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		text-align: center;
		padding-bottom: 5px;
	}
	#lineup .time, #lineup .artist {
		font-size: 3em;
	}
	#lineup .artist {
		width: calc(100% - 200px);
		max-width: 340px;
		padding-bottom: 0px;
		border-bottom: none;
	}
	#lineup .artist span {
		padding-bottom: 0px;
		border-bottom: none;
		top: 10px;
	}
	#lineup-header {
		font-size: 7em;
		margin-top: 150px;
	}
}

@media screen and (max-width: 6000px) {
	#lineup .time, #lineup .artist {
		font-size: 2.7em;
	}
	#lineup h2 {
		font-size: 4em;
	}
	#lineup-header {
		font-size: 6em;
		margin-top: 100px;
	}
}
::-webkit-scrollbar {
	display: none;
}