body {
	margin: 0px;
}

@font-face {
    font-family: "sledge";
    src: url("./fonts/sledge.woff") format('woff');
	src: url("./fonts/sledge.otf") format('opentype');
}

@font-face {
    font-family: "lemonmilk";
	src: url("./fonts/lemonmilk.otf") format('opentype');
}

#load {
	background-color: rgb(240,240,240);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	z-index: 50;
	transition: opacity 0.8s;
	color: black;
	font-family: sledge;
	line-height: 100vh;
	text-align: center;
	letter-spacing: 0.05em;
	font-size: 5em;
}

#background {
	background-image: url('./images/background.png');
	background-size: cover;
	background-position: center;
	height: calc(100vh + 100px);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

#night-background {
	background-image: url('./images/background night.png');
	background-size: cover;
	background-position: center;
	height: calc(100vh + 100px);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	filter: grayscale(60%);
}

#mountain {
	background-image: url('./images/mountain.png');
	background-size: cover;
	background-position: center;
	height: calc(100vh + 100px);
	position: relative;
	z-index: 1;
	filter: blur(0px);
}

#night-mountain {
	background-image: url('./images/mountain night.png');
	background-size: cover;
	background-position: center;
	height: calc(100vh + 100px);
	position: relative;
	z-index: 1;
	filter: blur(0px);
	filter: grayscale(90%) brightness(50%);
}

#logo {
	background-image: url('./images/summit text.png');
	background-size: cover;
	background-position: center;
	height: calc(100vh + 100px);
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
}

#fog-1 {
	position: fixed;
	top: 0px;
	left: 0px;
	width: calc(100vh * 100);
	height: 100vh;
	background-image: url('./images/fog 1.png');
	background-position: center;
	background-repeat: repeat-x;
	background-size: contain;
	animation: marqee 15s linear infinite;
	z-index: 51;
}

#fog-2 {
	position: fixed;
	top: 0px;
	left: 0px;
	width: calc(100vh * 100);
	height: 100vh;
	background-image: url('./images/fog 1.png');
	background-position: center;
	background-repeat: repeat-x;
	background-size: contain;
	animation: marqee 10s linear infinite;
	z-index: 51;
}

@keyframes marqee {
	0% {left:0px}
	100% {left:calc(-100vh * 1.66)}
}

#night-mountain #fade {
	position: absolute;
	bottom: -10px;
	height: 100px;
	width: 100%;
	background-image: linear-gradient(transparent, black);
}

#mountain #fade {
	position: absolute;
	bottom: -10px;
	height: 100px;
	width: 100%;
	background-image: linear-gradient(transparent, white);
}

#silhouette-tag {
	font-family: lemonmilk;
	letter-spacing: 0.05em;
	position: fixed;
	width: 100%;
	text-align: center;
	top: calc(100vh - 100px);
	z-index: 2;
	font-size: 1.7em;
	color: white;
}

#body {
	height: 500px;
	background-color: white;
	position: relative;
	z-index: 2
}

#night-body {
	height: 500px;
	background-color: black;
	position: relative;
	z-index: 2
}

#top-header {
	font-family: sledge;
	margin: 0px;
	font-size: 6em;
	letter-spacing: 0.05em;
	text-align: center;
	padding-top: 25vh;
}

#night-body #top-header {
	color: white;
}