body {
	margin: 0px;
	overflow-x: hidden;
}

@font-face {
    font-family: "sledge";
    src: url("./fonts/sledge.woff") format('woff');
	src: url("./fonts/sledge.otf") format('opentype');
}

@font-face {
    font-family: "lemonmilk";
	src: url("./fonts/lemonmilk.otf") format('opentype');
}

@font-face {
    font-family: "brixtonwood";
	src: url("./fonts/brixtonwood.otf") format('opentype');
}

#load {
	background-color: rgb(240,240,240);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	z-index: 50;
	transition: opacity 0.8s;
	color: black;
	font-family: sledge;
	line-height: 100vh;
	text-align: center;
	letter-spacing: 0.05em;
	font-size: 5em;
}

#background {
	background-image: url('./images/background.png');
	background-size: cover;
	background-position: center;
	height: calc(100vh + 100px);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

#night-background {
	background-image: url('./images/background night.png');
	background-size: cover;
	background-position: center;
	height: calc(100vh + 100px);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	filter: grayscale(60%);
}

#mountain {
	background-image: url('./images/mountain.png');
	background-size: cover;
	background-position: center;
	height: calc(100vh + 100px);
	position: relative;
	z-index: 1;
	filter: blur(0px);
}

#night-mountain {
	background-image: url('./images/mountain night.png');
	background-size: cover;
	background-position: center;
	height: calc(100vh + 100px);
	position: relative;
	z-index: 1;
	filter: blur(0px);
	filter: grayscale(90%) brightness(50%);
}

#logo {
	background-image: url('./images/summit text.png');
	background-size: cover;
	background-position: center;
	height: calc(100vh + 100px);
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
}

#fog-1 {
	position: fixed;
	top: 0px;
	left: 0px;
	width: calc(100vh * 100);
	height: 100vh;
	background-image: url('./images/fog 1.png');
	background-position: center;
	background-repeat: repeat-x;
	background-size: contain;
	animation: marqee 15s linear infinite;
	z-index: 51;
	pointer-events: none;
}

#fog-2 {
	position: fixed;
	top: 0px;
	left: 0px;
	width: calc(100vh * 100);
	height: 100vh;
	background-image: url('./images/fog 1.png');
	background-position: center;
	background-repeat: repeat-x;
	background-size: contain;
	animation: marqee 10s linear infinite;
	z-index: 51;
	pointer-events: none;
}

@keyframes marqee {
	0% {left:0px}
	100% {left:calc(-100vh * 1.66)}
}

#night-mountain #fade {
	position: absolute;
	bottom: -10px;
	height: 100px;
	width: 100%;
	background-image: linear-gradient(transparent, black);
	pointer-events: none;
}

#mountain #fade {
	position: absolute;
	bottom: -10px;
	height: 100px;
	width: 100%;
	background-image: linear-gradient(transparent, white);
	pointer-events: none;
}

#silhouette-tag {
	font-family: lemonmilk;
	letter-spacing: 0.05em;
	position: fixed;
	width: 100%;
	text-align: center;
	top: calc(100vh - 100px);
	z-index: 2;
	font-size: 1.7em;
	color: white;
	cursor: pointer;
}

#body {
	height: 500px;
	background-color: white;
	position: relative;
	z-index: 2
}

#night-body {
	height: 500px;
	background-color: black;
	position: relative;
	z-index: 2
}

#top-header {
	font-family: sledge;
	margin: 0px;
	font-size: 6em;
	letter-spacing: 0.05em;
	text-align: center;
	padding-top: 25vh;
}

#night-body #top-header {
	color: white;
}

#control {
	position: absolute;
	width: 80px;
	left: calc(50% - 30px);
	top: calc(100vh - 200px);
	z-index: 1;
	height: 80px;
	text-align: center;
	cursor: pointer;
	margin: 0px;
	font-family: sledge;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.btn-slice {
	padding: 0.3rem 2.70rem;
	border: 2px solid white;
	border-radius: 0rem;
	color: white;
	font-size: 0.5rem;
	font-family: brixtonwood;
	font-weight: 700;
	letter-spacing: 0.3rem;
	position: relative;
	-webkit-transition: all 1000ms cubic-bezier(0.890, 0, 0.140, 1);
	-webkit-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
	-moz-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
	-o-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
	transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225);
	-webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1);
	-webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
	-moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
	-o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
	transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225);
	transform: scale(3);
}

.btn-slice .top  {
	position: relative;
	height: 6px;
	overflow: hidden;
	top: 0;
	-webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1);
	-webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
	-moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
	-o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
	transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040);
	-webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1);
	-webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
	-moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
	-o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
	transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040);
	-webkit-transition-delay:0.35s;     
	-moz-transition-delay::0.35s; 
	-ms-transition-delay::0.35s;     
	-o-transition-delay::0.35s;     
	transition-delay::0.35s;
}

.btn-slice .bottom  {
	position: relative;
	height: 6px;
	overflow: hidden;
	bottom: 0;
	-webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1);
	-webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
	-moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
	-o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
	transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040);
	-webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1);
	-webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
	-moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
	-o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
	transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040);
	-webkit-transition-delay:0.35s;     
	-moz-transition-delay::0.35s; 
	-ms-transition-delay::0.35s;     
	-o-transition-delay::0.35s;     
	transition-delay::0.35s;
}

.btn-slice .bottom span {
	top: -6px;
	position: absolute;
	left: 0;
}

.btn-slice:hover .top {
	top: -5px;
	-webkit-transition-delay:0.35s;     
	-moz-transition-delay::0.35s; 
	-ms-transition-delay::0.35s;     
	-o-transition-delay::0.35s;     
	transition-delay::0.35s; 
}

.btn-slice:hover .bottom {
	bottom: -5px;
	-webkit-transition-delay:0.35s;     
	-moz-transition-delay::0.35s; 
	-ms-transition-delay::0.35s;     
	-o-transition-delay::0.35s;     
	transition-delay::0.35s; 
}

.btn-slice:hover, .btn-slice:focus, .btn-slice:active {
	margin-left: 10px;
}

.btn-slice:before{
	content: '';
	height: 1px;
	width: 60px;
	background-color: #ffffff;
	position: absolute;
	margin-top: 6px;
	right: -35px;
	-webkit-transition: all 1000ms cubic-bezier(0.890, 0, 0.140, 1);
	-webkit-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, .225); 
	-moz-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
	-o-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
	transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225);
	-webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1);
	-webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
	-moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
	-o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
	transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225);
}

.btn-slice:hover:before{
	width: 130%;
}
