body {
	margin: 0px;
	overflow-x: hidden;
	background-color: var(--background-color);
}

@font-face {
    font-family: "sledge";
    src: url("./fonts/sledge.woff") format('woff');
	src: url("./fonts/sledge.otf") format('opentype');
}

@font-face {
    font-family: "lemonmilk";
	src: url("./fonts/lemonmilk.otf") format('opentype');
}

@font-face {
    font-family: "brixtonwood";
	src: url("./fonts/brixtonwood.otf") format('opentype');
}

#load {
	background-color: rgb(240,240,240);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	z-index: 50;
	transition: opacity 0.8s;
	color: black;
	font-family: sledge;
	line-height: 100vh;
	text-align: center;
	letter-spacing: 0.05em;
	font-size: 5em;
}

:root {
	--background-color: white;
	--foreground-color: black;
}

#background {
	background-image: url('./images/background.png');
	background-size: cover;
	background-position: center;
	height: calc(100vh + 100px);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

#night-background {
	background-image: url('./images/background night.png');
	background-size: cover;
	background-position: center;
	height: calc(100vh + 100px);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	filter: grayscale(60%);
}

#mountain {
	background-image: url('./images/mountain.png');
	background-size: cover;
	background-position: center;
	height: calc(100vh + 100px);
	position: relative;
	z-index: 1;
	filter: blur(0px);
}

#night-mountain {
	background-image: url('./images/mountain night.png');
	background-size: cover;
	background-position: center;
	height: calc(100vh + 100px);
	position: relative;
	z-index: 1;
	filter: blur(0px);
	filter: grayscale(90%) brightness(50%);
}

#logo {
	background-image: url('./images/summit text.png');
	background-size: cover;
	background-position: center;
	height: calc(100vh + 100px);
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
}

#fog-1 {
	position: fixed;
	top: 0px;
	left: 0px;
	width: calc(100vh * 100);
	height: 100vh;
	background-image: url('./images/fog 1.png');
	background-position: center;
	background-repeat: repeat-x;
	background-size: contain;
	animation: marqee 15s linear infinite;
	z-index: 51;
	pointer-events: none;
}

#fog-2 {
	position: fixed;
	top: 0px;
	left: 0px;
	width: calc(100vh * 100);
	height: 100vh;
	background-image: url('./images/fog 1.png');
	background-position: center;
	background-repeat: repeat-x;
	background-size: contain;
	animation: marqee 10s linear infinite;
	z-index: 51;
	pointer-events: none;
}

@keyframes marqee {
	0% {left:0px}
	100% {left:calc(-100vh * 1.66)}
}

#night-mountain #fade {
	position: absolute;
	bottom: -10px;
	height: 100px;
	width: 100%;
	background-image: linear-gradient(transparent, black);
	pointer-events: none;
}

#mountain #fade {
	position: absolute;
	bottom: -10px;
	height: 100px;
	width: 100%;
	background-image: linear-gradient(transparent, white);
	pointer-events: none;
}

#silhouette-tag {
	font-family: lemonmilk;
	letter-spacing: 0.05em;
	position: fixed;
	width: 100%;
	text-align: center;
	top: calc(100vh - 100px);
	z-index: 2;
	font-size: 1.7em;
	color: white;
	cursor: pointer;
}

#body {
	height: 500px;
	background-color: white;
	position: relative;
	z-index: 2
}

#night-body {
	height: 500px;
	background-color: black;
	position: relative;
	z-index: 2
}

#top-header {
	font-family: sledge;
	margin: 0px;
	font-size: 6em;
	letter-spacing: 0.05em;
	text-align: center;
	padding-top: 25vh;
}

#night-body #top-header {
	color: white;
}

#control {
	position: absolute;
	width: 150px;
	left: calc(50% - 77px);
	top: calc(100vh - 200px);
	z-index: 1;
	height: 60px;
	text-align: center;
	cursor: pointer;
	margin: 0px;
	font-family: brixtonwood;
	border: 4px solid white;
	line-height: 50px;
	font-size: 3em;
	color: white;
	letter-spacing: 0.1em;
	transition: background-color 0.3s, letter-spacing 0.3s, color 0.3s;
	background-color: transparent;
}

#control:hover {
	background-color: white;
	letter-spacing: 0.13em;
	color: var(--foreground-color);
}

#artistcontainer {
	font-family: brixtonwood;
	font-size: 3em;
	text-align: center;
	padding-top: 200px;
	background-color: var(--background-container);
	color: var(--foreground-color);
}

#artistcontainer span {
	letter-spacing: 0.1em;
	margin-left: 50px;
	margin-right: 50px;
	cursor: pointer;
	padding-bottom: 100px;
}

#artistcontainer span:hover {
	border-bottom: 4px solid var(--foreground-color);
	padding-bottom: 5px;
}

#lineup {
	background-color: var(--background-color);
	padding-top: 100px;
	color: var(--foreground-color);
}

#lineup h2 {
	margin-bottom: 0px;
	text-align: center;
	font-family: sledge;
	font-size: 6em;
	letter-spacing: 0.1em;
}

#lineup div {
	background-color: var(--background-color);
	text-align: center;
	margin-bottom: 20px;
}

#lineup .time {
	font-family: sledge;
	font-size: 4em;
	position: relative;
	top: 12px;
	letter-spacing: 0.1em;
}

#lineup .artist {
	font-family: brixtonwood;
	font-size: 4em;
	padding-left: 20px;
	width: 400px;
	display: inline-block;
	margin-top: 5px;
	text-align: right;
	border-bottom: 2px dotted var(--foreground-color);
	padding-bottom: 0px;
	margin: 0px;
	height: 80px;
}

#lineup .artist span {
	border-bottom: 4px solid var(--foreground-color);
	margin: 0px;
	position: relative;
	top: 0px;
	display: inline-block;
	vertical-align: top;
	height: calc(100% - 1px);
	letter-spacing: 0.1em;
}

#canvas {
	background-color: blue;
}